article.details
	.description
		p Initially I wanted to use backbonejs for this project but I've replaced that in favor of angularjs, because I find it a lot faster when dealing with a bigger volume of data.
		p I also wanted to use angular's "ui-router" instead of the traditional "ngRoute" (because of the nice 'view states' it has) but there were some issues with it and I decided to go for the traditional router version.
		p Usually my projects also include a tdd tests suite and a 'compiled' version, but it seemed overkill to use jasmine and grunt tasking for such a small project.
	
	h2 Techonologies used
	ul
		li nodejs with express & jade templating (faster html prototyping and project setup)
		li angularjs 
		li "vanilla" css (using bootstrap for two pages and a list also seemed like overkill)
