doctype html
html
	head
		meta(charset="utf-8")
		title F1000 Test with AngularJS

		link(rel="stylesheet", href="css/main.css")
		script(src="angular/angular.js")
		script(src="angular-route/angular-route.js")
		//-script(src="angular-ui-router/release/angular-ui-router.js")
	

		//- application files (should be optimized into one file - grunt task w/ requirejs)
		script(src="js/app/f1000.js")
		script(src="js/app/controllers/main.js")
		script(src="js/app/controllers/details.js")
		script(src="js/app/services/loader.js")

		//- application bootstrap
		script(src="js/bootstrap.js")

	body
		#page(ng-controller="MainCtrl")
			header
				h1 F1000 Tech Test
				nav
					ul
						li
							a(href="#/" title="Homepage") Home
							a(href="#/articles" title="Articles") Articles
			
			section(ng-view ui-view)